@import '../mixins.scss';

body {
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

div {
  box-sizing: border-box;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DCDCDC;
}

.menu-button {
  width: 30px;
  height: 30px;
  background-color: white;
  border: none;
  padding: 0;
  border-radius: 2px;

  &:hover {
    background-color: #DCDCDC;
  }

  &:active {
    background-color: #C0C0C0;
    color: black;
  }
}

.menu-button img {
  width: 30px;
}

.tools button, .colors-palette button, .resize-canvas button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border: none;
  border-bottom: 1px solid #DCDCDC;

  &:hover {
    background-color: #DCDCDC;
  }

  &:active {
    background-color: #C0C0C0;
    color: black;
  }
}

.tools button img {
  width: 20px;
  padding: 0 10px;
}

.tools {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 5%;
  box-shadow: 11px 12px 15px -15px rgba(94, 94, 94, 1);

  & .selected {
    background-color: #DCDCDC;
  }
}

.colors-palette {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 65%;
  left: 5%;
  box-shadow: 11px 12px 15px -15px rgba(94, 94, 94, 1);
}

.colors-palette .current-color__color {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  border: 1px solid black;
  border-radius: 50%;
}

.color-selected-1 .current-color__color {
  background-color: red;
}

.color-selected-2 .current-color__color {
  background-color: blue;
}

.resize-canvas {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  right: 5%;
  box-shadow: 11px 12px 15px -15px rgba(94, 94, 94, 1);
}

.resize-canvas button {
  padding: 20px 20px;
  align-items: center;
  justify-content: space-around;
}

.canvas-container {
  border: 1px solid grey;
  position: absolute;
  left: 30%;
  top: 20%;
  width: 512px;
  height: 512px;
  display: flex;
}

.source-image {
  display: none;
}

#canvas-main {
  margin: auto;
  image-rendering: pixelated;
}
